html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

body {
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

header {
  background-image: url("/assets/web/header.png");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: 700px;
  display: block;
  text-align: center;
  position: relative;
}

header img {
  width: 350px;
  margin: 0 auto;
}

header h1 {
  background-image: url("/assets/web/candico.png");
  background-repeat: no-repeat;
  height: 250px;
  width: 760px;
  margin: 120px auto 0;
}

header h1 > span {
  display: none;
}

header h2 {
  font-family: 'CharlemagneStd-Bold', serif;
  text-transform: uppercase;
  font-size: 3.4em;
  color: #F5E2C0;
  line-height: 1.4em;
  width: 680px;
  margin: 20px auto;
}

.compass {
  position: absolute;
  top: 40px;
  left: 0;
}

.key {
  position: absolute;
  top: -30px;
  right: 50px;
  width: 250px;
}

.stick {
  position: absolute;
  top: 0px;
  left: -100px;
  width: 400px;
}

.rope {
  position: absolute;
  z-index: 99;
  width: 250px;
  bottom: -120px;
  right: 0;
}

.crystal {
  position: absolute;
  z-index: 99;
  width: 680px;
  bottom: -200px;
  right: -150px;
}

.sugarcane {
  position: absolute;
  z-index: 99;
  width: 500px;
  bottom: -130px;
  left: -50px;
}

.streek {
  width: 130px;
  margin: -70px 0 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 2em rgba(0, 0, 0, 0.6);
}

.riet-luik {
  background-image: url("/assets/web/riet-luik.png");
  background-repeat: no-repeat;
  height: 750px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.biet-luik {
  background-image: url("/assets/web/biet-luik.png");
  background-repeat: no-repeat;
  height: 750px;
  width: 1000px;
  position: absolute;
  top: 0;
  right: 0;
}

button {
  background: none;
  border: none;
  background-image: url("/assets/web/button.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  padding: 25px 0;
  color: #F5E2C0;
  font-family: 'CharlemagneStd-Bold';
  font-size: 1.4em;
  margin-top: 50px;
}

.overlay {
  width: 100%;
  height: 600px;
  position: absolute;
}

.overlay.navy {
  background-image: url("/assets/web/navy.png");
  background-position: bottom center;
  background-size: cover;
  opacity: 0.2;
}

.overlay.factory {
  background-image: url("/assets/web/factory.png");
  background-position: bottom center;
  background-size: cover;
  opacity: 0.2;
}

.candico-box {
  width: 100%;
  border-top: 5px solid #ab5821;
  border-bottom: 5px solid #ab5821;
  border-image: linear-gradient(to right, #ab5821 0%, #eb8b00 25%, #e6c681 50%, #eb8b00 75%, #ab5821 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab5821', endColorstr='#ab5821', GradientType=1 );
  border-image-slice: 1;
  background: #652419;
  background: radial-gradient(ellipse at center, #652419 0%, #432918 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#652419', endColorstr='#432918', GradientType=1 );
}

section {
  color: #F5E2C0;
  text-align: center;
  position: relative;
}

section .center-wrapper {
  padding: 110px 0;
}

section h1 {
  font-family: 'CharlemagneStd-Bold', serif;
  text-transform: uppercase;
  font-size: 2.6em;
}

section .underline {
  border-top: 1px solid #F5E2C0;
  width: 80px;
  margin: 25px auto;
}

section p {
  width: 500px;
  margin: 15px auto;
  font-size: 1.6em;
  line-height: 1.2em;
}

section.wood {
  background-image: url("/assets/web/wood2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0;
}

article {
  transition: all 2s ease;
  opacity: 1;
  padding: 20px 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  padding: 0;
}

section.parchment {
  background-image: url("/assets/web/parchment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0;
  position: relative;
  height: 750px;
}

.game-wrapper {
  width: 850px;
  margin: 0 auto;
  box-shadow: 0 0 2em black;
}
