
@media only screen and (min-width: 200px){
	.thumb-wrap {
    	width: 39vw;
	}
}
@media only screen and (min-width: 250px){
	h1{
		font-size:5vw;
	}
	input, select{
		font-size:4vw;
	}
}

@media only screen and (min-width: 300px){
	.thumb-wrap {
    	width: 260vw;
    	margin:0.5vw;
	}
}

@media only screen and (min-width: 400px){
	h1{
		font-size:2rem;
	}
	input, select{
		font-size:1.6rem;
	}
}

@media only screen and (min-width: 500px){
	.main-title{
		font-size: 4.5rem;
	}
}

@media only screen and (min-width: 600px){
	.thumb-wrap {
    	width: 19vw;
	}

}

@media only screen and (min-width: 700px){
	.images{
		flex:1;
	}
	main{
		display:flex;
		width: 90%;
		margin: 0 auto;
	}
	.decoration{
		flex:1;
	}
	.card{
		flex:2;
		margin-left: 2rem;
	}
	.thumb-wrap {
    	width: 12vw;
	}
}
@media only screen and (min-width: 900px){
	main{
		display: flex;
		flex-flow:row nowrap;
		align-items:flex-start;
	}
	.controls{
		width:90%;
		margin:0 auto;
	}
	.postcard-message{
		font-size:8vw;
	}

}